<footer>
  <div class="grid">
    <div class="unit two-thirds center-on-mobiles">
      <p>CAT-SMS is maintained by Piotr Dzierzanowski. </p>
      <p>© 2026 INS GmbH. All rights reserved. | Contact: piotr@dzierzzanowski.com</p>
    </div>
    <div class="unit one-third align-right center-on-mobiles">
      <p>
        Proudly hosted by
        <a href="https://github.com">
          <img src="{{ 'img/footer-logo.png' | relative_url }}" width="100" height="30" alt="GitHub • Social coding">
        </a>
      </p>
      <p>
        CAT-SMS is not funded!</a>
      </p>
    </div>
  </div>
</footer>
