<footer>
  <div class="grid">
    <div class="unit two-thirds center-on-mobiles">
      <p>CAT-SMS is maintained by Piotr Dzierzanowski. </p>
      <p>© 2026 INS GmbH. All rights reserved. | Contact: piotr@dzierzzanowski.com</p>
    </div>
    <div class="unit one-third align-right center-on-mobiles">
      
      <p>
        <a href="mailto:piotr@dzierzzanowski.com" style="font-size: 1.2rem; font-weight: bold; color: #0066cc; text-decoration: none;">
            Strategic partners and investors: Let's talk. →
        </a>
      </p>
    </div>
  </div>
</footer>
