<header>
  <div class="flexbox">
    <div class="center-on-mobiles">
      <h1>
        <a href="{{ '/' | relative_url }}" class="logo">
          <span class="sr-only">CatSMS</span>
          <img src="{{ 'img/catsms.png' | relative_url }}" width="120" height="55" alt="CatSMS Logo">
        </a>
      </h1>
    </div>
    <nav class="main-nav hide-on-mobiles">
      {% include primary-nav-items.html -%}
    </nav>
    <div class="search hide-on-mobiles">
      {% include search/input.html -%}
    </div>
    <div class="meta hide-on-mobiles">
      <ul>
        <li><a href="{{ '/news/releases/' | relative_url }}">v{{ site.version }}</a></li>
        <li><a href="{{ 'docs/resources ' | relative_url }}">Domains</a></li>
      </ul>
    </div>
  </div>
  <nav class="mobile-nav show-on-mobiles">
    {% include mobile-nav-items.html -%}
  </nav>
</header>
